    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

    .calendarContainer {
      margin-top: 20px;
      border: 1px solid #e0e0e0;
      padding: 20px;
      border-radius: 12px;
      background-color: #f9f9f9;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Add subtle shadow */
    }

    .calendarTitle {
      font-size: 2rem;
      color: #2c3e50;
      text-align: left;
      margin-bottom: 30px;
      font-weight: bold;
      font-family: 'Inter', sans-serif;
    }
    .title{
      /* font-size: 24px; */
      font-weight: bold;
      color: #333;
      display: flex;
    }

    .modalContent {
      padding: 20px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      margin: auto;
    }

    .header {
      /* display: flex; */
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .eventTitle {
      font-size: 1.5rem;
      font-weight: bold;
      color: #007bff;
    }

    .detailsRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      color: black;
    }
    .text{
      padding-top: 10px;
    }

    .label {
      font-weight: 600;
      color: #333;
    }

    .actions {
      text-align: right;
      margin-top: 20px;
    }

    .closeButton {
      background-color: #007bff;
      color: white;
      padding: 8px 16px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }

    .closeButton:hover {
      background-color: #0056b3;
    }

    .modalContent {
      padding: 20px;
      font-family: Arial, sans-serif;
      color: #333;
      background-color: #fff;
      border-radius: 8px;
      /* box-shadow: 0px 1px 20px 9px rgba(0, 0, 0, 0.1); */
    }

    .header {
      margin-bottom: 4px;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
    }


    .details {
      margin-bottom: 16px;
      margin-top: 15px;
    }

    .detailsRow {
      display: grid;
      justify-content: space-between;
      margin-bottom: 8px;
    }



    .actions {
      text-align: right;
    }

    .closeButton {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
    }

    .closeButton:hover {
      background-color: #0056b3;
    }

    .labelBadge {
      display: inline-block;
      margin-left: 10px;
      padding: 4px 8px;
      font-size: 0.85rem;
      font-weight: 600;
      color: #fff;
      background-color: #007bff; /* Adjust the color as needed */
      border-radius: 12px;
      margin-left: 20%;
    }
