.tasks {
    height: calc(100dvh - var(--app-shell-header-offset) - calc(2* var(--app-shell-padding)));
}

.scrollArea {
    border-radius: var(--mantine-radius-lg);
    box-shadow: var(--mantine-shadow-lg);
}